<div class="row">
  <div class="small-12 columns">
    Race title '{{race.name}}' <br/>
    Race name: {{input type="text" value=race.name}}<br/>
    Race city: {{input type="text" value=race.city}}<br/>
    Race state: {{input type="text" value=race.state}}<br/>
    Date of race: {{input type="text" value=race.date}}<br/>
    Race Type: {{view Ember.Select content=raceTypes value=race.race_type}}<br/>
    Total Time: {{input type="text" value=race.time}}<br/>
    Place - By Age Group {{input type="text" value=race.place_agegroup}}<br/>
    Place - By Gender {{input type="text" value=race.place_gender}}<br/>
    Place - Overall {{input type="text" value=race.place_overall}}<br/>
    Race Note: {{textarea value=race.note}}<br/>
    Images
    <a {{action 'save' race}} class="button">Save</a><br/>
    {{#if race.id}}
    <a {{action 'delete' race}} class="button">Delete</a>
    {{/if}}
  </div>
</div>
