<div class="row">
  <div class="small-12 columns">
    Race title '{{model.name}}' <br/>
    Race name: {{input type="text" value=model.name}}<br/>
    Race city: {{input type="text" value=model.city}}<br/>
    Race state: {{input type="text" value=model.state}}<br/>
    Date of race: {{input type="text" value=model.date}}<br/>
    Race Type: {{view Ember.Select content=raceTypes value=model.race_type}}<br/>
    Total Time: {{input type="text" value=model.time}}<br/>
    Place - By Age Group {{input type="text" value=model.place_agegroup}}<br/>
    Place - By Gender {{input type="text" value=model.place_gender}}<br/>
    Place - Overall {{input type="text" value=model.place_overall}}<br/>
    Race Note: {{textarea value=model.note}}<br/>
    {{!-- Should uploading image be in its own component? --}}
    Upload Image(s): <br/>
    <br/>
    <p>{{input type="file" value=model.race_image_file_name}} {{input type="submit"}}<p/>
    <a {{action 'save' model}} class="button">Save</a><br/>
    {{#if model.id}}
    <a {{action 'delete' model}} class="button">Delete</a>
    {{/if}}
  </div>
</div>
