<div class="row">
  <div class="small-12 columns">
    <h2>Race Editing Form</h2>
  </div>
</div>
<form>
    <div class="row">
      <div class="small-6 columns">
        <label> Race name:
            {{input type="text" value=race.name}}<br/>
        </label>
      </div>
      <div class="small-6 columns">
        <label> Date of race:
            {{view RaceBook.DateField date=date}}<br/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
        <label> Race city:
            {{input type="text" value=race.city}}<br/>
        </label>
    </div>
      <div class="small-6 columns">
        <label> Race state:
            {{input type="text" value=race.state}}<br/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
        <label> Race Type:
            {{view Ember.Select content=raceTypes value=race.race_type prompt="Please select a race type"}}<br/>
        </label>
      </div>
      <div class="small-6 columns">
        <label> Total Time:
            {{input type="text" value=race.time}}<br/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <label> Place - By Age Group
            {{input type="text" value=race.place_agegroup}}<br/>
        </label>
        </div>
        <div class="small-4 columns">
        <label> Place - By Gender
            {{input type="text" value=race.place_gender}}<br/>
        </label>
        </div>
        <div class="small-4 columns">
        <label> Place - Overall
            {{input type="text" value=race.place_overall}}<br/>
        </label>
        </div>
      </div>
    <div class="row">
      <div class="small-12 columns">
        <label> Race Note:
        {{textarea value=race.note}}<br/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        {{#if race.images}}
          Images<br/>
          <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
          {{#each image in race.images}}
              <li><image {{bind-attr src=image.url}}></li>
          {{/each}}
          </ul>
        {{/if}}
        {{#if race.id}}
            Upload Image(s):
            <br/>
            <br/>
            {{image-uploader race=race}}
        {{/if}}
        <a {{action 'save' race}} class="button">Save</a><br/>
        {{#if race.id}}
        <a {{action 'delete' race}} class="button">Delete</a>
        {{/if}}
      </div>
    </div>
</form>
