<div class="row">
  <div class="small-2 columns hide">Hidden</div>
  <div class="small-10 columns text-center underline"><h2>Races Page</h2></div>
</div>
<div class="row">
  <div class="small-2 columns">
    {{#link-to 'race.new' class="button"}}Add New Race{{/link-to}}
    {{#link-to 'graphs' class="button"}}See Your Stats{{/link-to}}
    {{#link-to 'races.images' class="button"}}View Your Images{{/link-to}}
  </div>
  <div class="small-10 columns">
      <table>
        <thead>
          <tr>
            <td>Race Name</td>
            <td>City</td>
            <td>State</td>
            <td>Date</td>
            <td>Race Type</td>
            <td>Time</td>
            <td>Finishing Place - By Age Group</td>
            <td>Finishing Place - By Gender</td>
            <td>Finishing Place - Overall</td>
            <td>Note</td>
            <td>Edit</td>
          </tr>
        </thead>
        <tbody>
          {{#each race in content}}
            <tr>
              <td>{{race.name}}</td>
              <td>{{race.city}}</td>
              <td>{{race.state}}</td>
              <td>{{date race.date}}</td>
              <td>{{race.race_type}}</td>
              <td>{{race.time}}</td>
              <td>{{race.place_agegroup}}</td>
              <td>{{race.place_gender}}</td>
              <td>{{race.place_overall}}</td>
              <td>{{race.note}}</td>
              <td>{{#link-to 'race.edit' race}}Edit{{/link-to}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
  </div>
</div>
